<section> 
           <h2> <br> Hello everyone, <br> Today has been quite a challenging day, but after lots of effort and persistence, I’m finally making some progress. I’m excited to share that I’ve made it through! Hooray!!! <br>

 from <%= String.capitalize(@messenger )%>!</h2>
</section>